<div id="encabezado">
<h1>Angular Con Quimica</h1>
</div>
<br><br>

<div id="cuerpo">

<h1>El pasó final en la producción del metal cromo consiste en la reacción del óxido de cromo (III) con silicio a alta temperatura:</h1>
<h1>2 Cr2O3 (s) + 3 Si (s) -- 4 Cr (s) + 3 SiO2 (s).</h1>

<h3>a) ¿Cuántos moles de Si reaccionan con {{moles_Cr2O3}} moles de Cr2O3?</h3>
<h4>Reaccionan: {{moles_Cr2O3*moles_si/2}} Moles.</h4>
<h3>b) ¿Cuántos moles de cromo metálico se forman?</h3>
<h4>Se Forman: {{moles_Cr2O3*cromo_metalico/2}} Moles.</h4>
</div><br>

<div id="pie">
<footer>
<hr>
<h4>Derechos Del Autor</h4>
<h4>Esteban Resendiz Urquiza - 5BPM</h4>
<h4>esteban.resendiz@cbtis145.mx</h4>
<h4>427 161 1158</h4>
</footer>
</div>
